<div class="form-inline">
	<div class="form-group">
		<div class="input-group">

			<input class="form-control" type="text" name="dateControl" placeholder="dd.mm.yyyy" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="dateValue"
			 (ngModelChange)="onNgModelChange($event)" locale="ru" />

			<div class="input-group-append">
				<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
					#todo
				</button>
			</div>

		</div>
	</div>
</div>

<div *ngIf="!dateControl.valid && !focused">
	<hr />
	<small>{{errorMessage}}</small>
</div>