<div class="form-inline">
	<div class="form-group">
		<div class="input-group">
			<input class="form-control" [placeholder]="placeholder" type="text" name="dateControl" [(ngModel)]="dateControl.value" (ngModelChange)="onNgModelChange($event)"
			 [textMask]="{mask: getPhoneNumberMask, keepCharPositions: true}" (blur)="onBlur()" (focus)="onFocus()" />

			<input type="hidden" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="dateControl.value" (ngModelChange)="onNgModelChange2($event)"
			/>

			<div class="input-group-append">
				<button class="btn custom-btn-calendar" (click)="d.toggle()" type="button">
					<img src="/src/assetc/img/calendar.png" alt="Календарь" />
				</button>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!dateControl.valid && !focused">
	<hr />
	<small [innerHTML]="errorMessage"></small>
</div>