
$custom-btn-calendar-background: white;
$custom-btn-calendar-display: inline;

.custom-btn-calendar {
    display: $custom-btn-calendar-display;
    background: $custom-btn-calendar-background;
    
    :hover() {
        background: $custom-btn-calendar-background;
    }
}


