
$boostrap-padding-top-form: 80px;
$boostrap-padding-rl: 115px;

.container {
    box-shadow: 3px 4px 54px rgba(0, 0, 0, 0.09);
    opacity: 0.9;
    margin-top: 3em;
}

.nav-tabs {
    padding-top:  80px;
}

.nav-link.active {
    border-style: none none solid;
    border-bottom-width: 0.3em;
    box-shadow:  -1px 9px 33px -11px rgba(235, 66, 92, 0.5);
}

.nav-link {
    color: #d3d3d3;
    font-size: 1.25em;
    margin-right: $boostrap-padding-rl; // !!!!  
    margin-left: $boostrap-padding-rl; 
}

.tab-content {
    padding-top: $boostrap-padding-top-form;
    color: #3e3e3e;
    font-size: 1em;
    padding-bottom: $boostrap-padding-top-form * 0.8; // !!!
}
.nav-link:hover {
    color: #3e3e3e;
}

.form-control {
    border-bottom-width: 0.1em;
}

.btn {
    font-size: 1.5em;
}

.form-check-inline {
    box-shadow: -1px 1px 7px rgba(235, 66, 92, 0.3); 
    width: 25px;
    height: 25px;  
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }