

$custom-padding-top-form: 80px;
$custom-padding-top-pill: 80px;
$custom-padding-rl: 115px;

.custom-btn-calendar {
    display: inline;
    background: white;
}

.custom-btn-calendar:hover() {
    background: white;
}
