
$nav-tabs-border-color: #eb425c;
$nav-link-disabled-color: #d3d3d3;
$nav-link-padding-x: 3rem;
$nav-tabs-link-active-color: #3e3e3e;
$body-bg: #FFFFFF;
$btn-border-radius: none;
$btn-border-radius-lg: none;
$btn-border-radius-sm: none;
$info: #eb425c;
$btn-box-shadow: none;
$input-btn-focus-box-shadow: -0.2em 0.2em 5px rgba(100,100,100,0.5);
$btn-active-box-shadow: -0.2em 0.2em 5px rgba(100,100,100,0.5);
$font-weight-normal: 400;
$btn-font-weight: $font-weight-normal;
$input-btn-focus-width: none;
$btn-focus-width: $input-btn-focus-width;

hr {
    background-color: $info !important;
    height: 1px;
}