
$nav-tabs-border-color: #d3d3d3;
$nav-link-padding-x: 0.05em;
$nav-tabs-link-active-color: #3e3e3e;
$body-bg: #FFFFFF;
$btn-border-radius: none;
$btn-border-radius-lg: none;
$btn-border-radius-sm: none;
$info: #eb425c;
$btn-box-shadow: none;
$input-btn-focus-box-shadow: -0.2em 0.2em 5px rgba(100,100,100,0.5);
$btn-active-box-shadow: -0.2em 0.2em 5px rgba(100,100,100,0.5);
$font-weight-normal: 400;
$btn-font-weight: 3em;
$input-btn-focus-width: none;
$btn-focus-width: $input-btn-focus-width;
$input-padding-x: 0;
$white: #fff;
$input-disabled-bg: $white;
$input-border-color: #d3d3d3;
$input-color: #3e3e3e;
$input-border-radius: none;
$input-border-radius-lg: none;
$input-border-radius-sm: none;
$input-focus-border-color: #d3d3d3;
$input-placeholder-color: #3e3e3e;
$input-padding-y: 0.1em;
$input-line-height: 0.8em;
$input-padding-y-sm: 0.1em;
$input-padding-x-sm: 0em;
$enable-gradients: false;
$border-radius: .0rem;
$border-radius-lg: .0rem;
$border-radius-sm: .0rem;
$hr-border-color: #d3d3d3;
$hr-border-width: 0 0 2px 0;
$border-width: 0px;
$input-border-width: 0em;
$font-size-base: 1rem;
$input-btn-focus-color: #eb425c;
$nav-tabs-link-active-bg: #ffffff;
$nav-tabs-border-radius: none;
$nav-tabs-link-hover-border-color: none;
$nav-link-padding-y: 0.8rem;
$spacer: 0rem;
$spacers: ();
$navbar-padding-y: 1em;
$mark-padding: 0.1em;
$navbar-padding-x: 0em;
$kbd-padding-y: 0.2rem;
$form-text-margin-top: 0.1rem;
$form-check-margin-bottom: 1rem;
$grid-gutter-width: 32px;
$nav-link-disabled-color: #d3d3d3;
$nav-tabs-link-active-border-color: #eb425c;
$nav-pills-link-active-color: #3e3e3e;
$nav-pills-border-radius: none;
$nav-pills-link-active-bg: none;
$font-weight-light: 400;
$container-max-widths: (sm: 290px,lg: 947px,xl: 1172px);
$font-family-sans-serif: Arial MT,sans-serif;
$font-family-monospace: Arial MT,sans-serif;
$nav-tabs-border-width: 0.15em;
$custom-control-label-disabled-color: #3e3e3e;
$link-color: #394a83;
$input-focus-color: #3e3e3e;
$grid-breakpoints: (xs: 0,sm: 319px,md: 319px,lg: 1199px,xl: 1599px);
$form-group-margin-bottom: 1.7rem;