<div *ngIf="appSrv.grid.sm" class="custom-container-sm">
  <div class="row"> 
    <div class="col-sm-5">
      <a href="#"><img src="../../../../assetc/img/logo-bank.png" /></a>
    </div>
    <div class="col-sm-2 text-center">
        <hr class="custom-vertical">
    </div>
    <div class="col-sm-4 text-left">
      <span class="small">Обратный&nbsp;звонок&nbsp;</span>
    </div>
    <div class="col-sm-1">
      <a href="#"><img class="img-fluid rounded-circle" src="../../../../assetc/img/phone-call.png" /></a>
    </div>
  </div>
</div>

<div *ngIf="appSrv.grid.lg || appSrv.grid.xl" class="container-fluid">

    <div class="offset-lg-2 col-lg-2 offset-xl-2 col-xl-2">
      <a class="d-inline" href="#"><img src="../../../../assetc/img/logo-bank.png" /></a>
    </div>
   
    <div class="col-lg-1 col-xl-1 text-center">
      <hr class="custom-vertical">
    </div>
    
    <div class="col-lg-2 col-xl-2 text-center">
      <span class="col-2 d-inline">Заявка на автокредит</span>
    </div>

    <div class="offset-lg-2 col-lg-2 offset-xl-2 col-xl-2">
      <a class="d-inline" href="# "><img class="img-fluid rounded-circle " src="../../../../assetc/img/phone-call.png" /></a>
    </div>
    
    <div class="offset-lg-2 col-lg-2 offset-xl-2 col-xl-2 text-center">
      <span class="small text-left ">Заказать&nbsp;обратный&nbsp;звонок</span>
      <span class="small text-left ">8(495)926-70-07</span>
    </div>

    <div class="offset-lg-2 col-lg-2 offset-xl-2 col-xl-2">
      <a class="col-2 d-inline" href="# "><img class="img-fluid rounded-circle " src="../../../../assetc/img/sing-in.png" /></a>
    </div>

</div>
