<div *ngIf="appSrv.grid.sm" class="custom-container-sm">
  <div class="row">

    <div class="col-sm-5">
      <a href="#"><img src="../../../../assetc/img/logo-bank.png" /></a>
    </div>
    <div class="col-sm-2 text-center">
      <hr class="custom-vertical">
    </div>
    <div class="col-sm-4 text-left">
      <span class="small">Обратный&nbsp;звонок&nbsp;</span>
    </div>
    <div class="col-sm-1">
      <a href="#"><img class="img-fluid rounded-circle" src="../../../../assetc/img/phone-call.png" /></a>
    </div>

  </div>
</div>

<div *ngIf="appSrv.grid.lg || appSrv.grid.xl" class="container-fluid">
  <div class="row">

    <div class="offset-lg-1 col-lg-2 offset-xl-1 col-xl-2 justify-content-center align-self-center">
      <a href="#" class="d-inline"><img src="../../../../assetc/img/logo-bank.png" /></a>
      <hr class="custom-vertical d-inline">
    </div>
    <div class="col-lg-2 col-xl-2 justify-content-center align-self-center text-left">
      <span class="small d-inline">Заявка&nbsp;на&nbsp;автокредит</span>
    </div>

    <div class="offset-lg-2 col-lg-2 offset-xl-2 col-xl-2 justify-content-center align-self-center">
      <a href="#" class="d-inline">
        <img class="img-fluid rounded-circle" src="../../../../assetc/img/phone-call.png" />
        <span class="small d-inline">Заказать&nbsp;обратный&nbsp;звонок</span>
      </a>
      <hr class="custom-vertical d-inline">
    </div>
    <div class="col-lg-2 col-xl-2 justify-content-center align-self-center text-left">
      <span class="small d-inline">8(495)926-70-07</span>
    </div>

  </div>
</div>