<nav class="navbar navbar-default  navbar-expand-md" data-offset-left="90">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!--<img src="http://toplogos.ru/images/thumbs/preview-logo-rusfinans-bank.jpg"/>-->
      <img src="https://www.rusfinancebank.ru/file/image/design/skin/next/logo.png" />
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!--left-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="nav-link">Заявка на автокредит</div>
        </li>
      </ul>
      <!--right this-->
    </div>

    <div class="navbar-brand">
      <img src="http://avatanplus.com/files/resources/original/58eb8aa9d0f0915b5815a780.png" width="40" />
      <span> Заказать обратный звонок</span>      
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="nav-link">8-800-000-00-00</div>
        </li>
      </ul>
    </div>

  </div>
</nav>