<div class="col-sm-12 offset-lg-1 col-lg-10 offset-lg-1 offset-xl-1 col-xl-10 offset-xl-1">
	<form [formGroup]="form" (ngSubmit)="save()">
		<div class="form-group row">
			<label class="col-sm-12 col-lg-4 col-xl-4" for="textControl">Паспорт</label>
			<div class="col-sm-12  col-lg-3 col-xl-3">
				<text-box-mask [placeholder]="'Серия'" [textMaskName]="'user.docSerial'" [textControl]="form.get('docSerial')" (onChanged)="changeValue('docSerial', $event)"></text-box-mask>
			</div>
			<div class="col-sm-12  col-lg-3 col-xl-3">
				<text-box-mask [placeholder]="'Номер'" [textMaskName]="'user.docNumber'" [textControl]="form.get('docNumber')" (onChanged)="changeValue('docNumber', $event)"></text-box-mask>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-12 offset-lg-4  col-lg-6  offset-xl-4  col-xl-6">
				<text-box [placeholder]="'Кем выдан'" [textControl]="form.get('docDepartment')" (onChanged)="changeValue('docDepartment', $event)"></text-box>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-12 offset-lg-4 col-lg-3 offset-xl-4 col-xl-3">
				<text-box-mask [placeholder]="'Код подразделения'" [textMaskName]="'user.docDepartmentCode'" [textControl]="form.get('docDepartmentCode')"
				 (onChanged)="changeValue('docDepartmentCode', $event)"></text-box-mask>
			</div>
			<div class="col-sm-12 col-lg-3 col-xl-3">
				<date-picker [placeholder]="'Когда выдан'" [dateControl]="form.get('docIssueDate')" (onChanged)="changeValue('docIssueDate', $event)"></date-picker>
			</div>
		</div>

		<div class="form-group row">
			<check-box [checkbox]="form.get('consentUseSimpleSignature')" (onChanged)="confirmTypeCode('consentUseSimpleSignature', $event)">
				<a target="_blank" href="https://www.rusfinancebank.ru">Пользовательское соглашение (соглашение об использовании простой
					электронной подписи)</a>
			</check-box>
		</div>


		<input-text-link *ngIf="form.value.consentUseSimpleSignature" [title]="'Ввести СМС код'" [textControl]="form.get('consentUseSimpleSignatureSms')" (onChanged)="changeValue('consentUseSimpleSignatureSms', $event)" (onClick)="sentSmsCode()" [linkName]="'Выслать повторно'"></input-text-link>


		<div class="form-group row">
			<check-box [checkbox]="form.get('consentBkiRequestB1')" (onChanged)="changeValue('consentBkiRequestB1', $event)">
				<a target="_blank" href="https://www.rusfinancebank.ru">Согласие на обработку персональных данных (расширенное согласие
					по перечню данных и целях обработки)</a>
			</check-box>
		</div>

		<div class="form-group row">
			<check-box [checkbox]="form.get('consentProcessPersDataB1')" (onChanged)="changeValue('consentProcessPersDataB1', $event)">
				<a target="_blank" href="https://www.rusfinancebank.ru">Согласие на БКИ (целевое для конкретного банка)</a>
			</check-box>
		</div>

		<div class="form-group row">
			<input type="submit" class="btn btn-lg btn-info" value="Войти" [disabled]="!form.valid" />
		</div>

	</form>
</div>