.hidden {
  display: none;
}

.visibly {
  display: block;
}

.rusb-custom-conteiner {
  color: #3e3e3e;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 950px;
  height: 829px;
  box-shadow: 3px 4px 54px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  opacity: 0.9;
}