<div class="form-group row">

	<label class="col-sm-12 col-xl-4 col-lg-4" for="dateControl">{{title}}</label>

	<div class="col-sm-12 col-xl-6 col-lg-6">
		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" [placeholder]="placeholder" type="text" name="dateControl" [(ngModel)]="dateControl.value" (ngModelChange)="onNgModelChange($event)"
					 [textMask]="{mask: getPhoneNumberMask, keepCharPositions: true}" (blur)="onBlur()" (focus)="onFocus()" />

					<input type="hidden" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="dateControl.value" (ngModelChange)="onNgModelChange2($event)"
					/>

					<div class="input-group-append">
						<button class="btn custom-btn-calendar" (click)="d.toggle()" type="button">
							<img src="/src/assetc/img/calendar.png" alt="Календарь" />
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 offset-lg-4 col-lg-8 offset-xl-4 col-xl-8" *ngIf="!dateControl.valid && !focused">
		<hr />
		<small [innerHTML]="errorMessage"></small>
	</div>

</div>