<div class="form-group row">

  <label class="col-sm-12 col-lg-4 col-xl-4" for="textControl" [innerHTML]="title"></label>

  <div class="col-sm-12 col-lg-6 col-xl-6">

    <div class="input-group">
      <input class="form-control" type="password" [placeholder]="placeholder" name="textControl" [(ngModel)]="textControl.value"
        (ngModelChange)="onNgModelChange($event)" (blur)="onBlur()" (focus)="onFocus()" />
      <span class="input-group-btn">
        <a (click)="onClickLink($event)" class="btn btn-link" [innerHTML]="linkName"></a>
      </span>
    </div>

  </div>  
</div>