<div class="form-group row">

  <label class="col-sm-12 col-lg-4 col-xl-4" for="textControl">{{title}}</label>

  <div class="col-sm-12 col-lg-8 col-xl-8">
    <input class="form-control" type="text" [placeholder]="placeholder" name="textControl" [(ngModel)]="textControl.value" (ngModelChange)="onNgModelChange($event)"
    (blur)="onBlur()" (focus)="onFocus()" />
  </div>
  <div class="col-sm-12 offset-lg-4 col-lg-8 offset-xl-4 col-xl-8" *ngIf="!textControl.valid && !focused">
    <hr />
    <small  [innerHTML]="errorMessage"></small>
  </div>

</div>