<ngb-tabset type="pills">
	<ngb-tab title="Регистрация">
		<ng-template ngbTabContent *ngIf="appSrv.pages.registration.show">
			<hr />
			<registration-component></registration-component>
		</ng-template>
		<ng-template ngbTabContent *ngIf="appSrv.pages.passport.show">
			<hr />
			<passport-component></passport-component>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Вход в личный кабинет">
		<ng-template ngbTabContent>
			<p>The page in implementation...</p>
		</ng-template>
	</ngb-tab>
</ngb-tabset>