<ngb-tabset type="nav nav-tabs customized-top-nav" [activeId]="'registration'">
	<ngb-tab title="Регистрация" id="registration">
		<ng-template ngbTabContent *ngIf="appSrv.pages.registration.show">
			<hr />
			<registration-component></registration-component>
		</ng-template>
		<ng-template ngbTabContent *ngIf="appSrv.pages.passport.show">
			<hr />
			<passport-component></passport-component>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Вход в личный кабинет" id="signin">
		<ng-template ngbTabContent>
			<hr />
			<signin-component></signin-component>
		</ng-template>
	</ngb-tab>
</ngb-tabset>