<form [formGroup]="form" (ngSubmit)="createUser()">
	<input-text [title]="'Фамилия'" [textControl]="form.get('lastName')" (onChanged)="changeInputText('lastName', $event)"></input-text>
	<input-text [title]="'Имя'" [textControl]="form.get('firstName')" (onChanged)="changeInputText('firstName', $event)"></input-text>
	<input-text [title]="'Отчество'" [textControl]="form.get('patronymic')" (onChanged)="changeInputText('patronymic', $event)"></input-text>
	<!--
	<div class="form-group row">
		<label class="col-sm-12 col-md-4" for="birthday">Дата рождения</label>
		<div class="col-sm-12 col-md-6">
			<div class="form-inline">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" placeholder="yyyy-mm-dd" name="birthday" formControlName="birthday" ngbDatepicker #d="ngbDatepicker">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
								#todo
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->


	<input-phone [phoneControl]="form.get('phoneMobile')" (onChanged)="changePhoneMobile($event)"></input-phone>
	<input-text [title]="'Email'" [textControl]="form.get('email')" (onChanged)="changeInputText('email', $event)"></input-text>
	<check-box [checkbox]="form.get('conditionPassed')" (onChanged)="changeInputText('conditionPassed', $event)">
		<a target="_blank" href="https://www.rusfinancebank.ru">Согласие на обработку персональных данных (для получения информации
			о продуктах и услугах банка)</a>
	</check-box>

	<div class="col-sm-12 offset-md-3 col-md-6 offset-md-3">
		<input type="submit" class="btn btn-danger" value="далее >>" [disabled]="!form.valid" />
	</div>

	<div>
		<pre>form.value: {{form.value | json}}</pre>
		<pre>form.valid: {{form.valid | json}}</pre>
	</div>
</form>