<form [formGroup]="form" (ngSubmit)="createUser()">
	<input-text  [textControl]="form.get('lastName')" 		(onChanged)="changeValue('lastName', $event)" 		[title]="'Фамилия'"></input-text>
	<input-text  [textControl]="form.get('firstName')" 		(onChanged)="changeValue('firstName', $event)" 		[title]="'Имя'"></input-text>
	<input-text  [textControl]="form.get('patronymic')" 	(onChanged)="changeValue('patronymic', $event)" 	[title]="'Отчество'"></input-text>
	<input-date  [dateControl]="form.get('birthday')" 		(onChanged)="changeValue('birthday', $event)"		[title]="'Дата рождения'"></input-date>
	<date-picker  [dateControl]="form.get('birthday')" 		(onChanged)="changeValue('birthday', $event)"		[title]="'Дата рождения'"></date-picker>
	<input-phone [phoneControl]="form.get('phoneMobile')" 	(onChanged)="changeValue('phoneMobile', $event)"></input-phone>
	<input-text  [textControl]="form.get('email')" 			(onChanged)="changeValue('email', $event)"			[title]="'Email'"></input-text>
	<check-box 	 [checkbox]="form.get('conditionPassed')" 	(onChanged)="changeValue('conditionPassed', $event)">
		<a target="_blank" href="https://www.rusfinancebank.ru">Согласие на обработку персональных данных (для получения информации
			о продуктах и услугах банка)</a>
	</check-box>

	<div class="col-sm-12 offset-md-3 col-md-6 offset-md-3">
		<input type="submit" class="btn btn-info" value="далее >>" [disabled]="!form.valid" />
	</div>
</form>