<div class="col-sm-12 offset-lg-1 col-lg-10 offset-lg-1 offset-xl-1 col-xl-10 offset-xl-1">
	<form [formGroup]="form" (ngSubmit)="createUser()">
		<input-text [textControl]="form.get('lastName')" (onChanged)="changeValue('lastName', $event)" [title]="'Фамилия'"></input-text>
		<input-text [textControl]="form.get('firstName')" (onChanged)="changeValue('firstName', $event)" [title]="'Имя'"></input-text>
		<input-text [textControl]="form.get('patronymic')" (onChanged)="changeValue('patronymic', $event)" [title]="'Отчество'"></input-text>
		<input-date-picker [dateControl]="form.get('birthday')" (onChanged)="changeValue('birthday', $event)" [title]="'Дата рождения'"></input-date-picker>
		<input-phone [phoneControl]="form.get('phoneMobile')" (onChanged)="changeValue('phoneMobile', $event)"></input-phone>
		<input-text [textControl]="form.get('email')" (onChanged)="changeValue('email', $event)" [title]="'Email'"></input-text>
		<check-box [checkbox]="form.get('conditionPassed')" (onChanged)="changeValue('conditionPassed', $event)">
			<a target="_blank" href="https://www.rusfinancebank.ru">Согласие на обработку персональных данных (для получения информации
				о продуктах и услугах банка)</a>
		</check-box>

		<div class="col-sm-12 offset-lg-3 col-lg-6 offset-lg-3 offset-xl-3 col-xl-6 offset-xl-3">
			<input type="submit" class="btn btn-info offset-lg-4 col-lg-4 offset-lg-4 offset-xl-4 col-xl-4 offset-xl-4" value="Войти" [disabled]="!form.valid" />
		</div>
		
	</form>

</div>