<div class="form-group row">

  <label class="col-sm-12 col-md-4" for="dateControl">{{title}}</label>

  <div class="col-sm-12 col-md-6">
    <input class="form-control" type="text" name="dateControl" [(ngModel)]="dateControl.value" (ngModelChange)="onNgModelChange($event)"
      [textMask]="{mask: getPhoneNumberMask, keepCharPositions: true}" (blur)="onBlur()" (focus)="onFocus()" />
  </div>

  <div class="col-sm-12 offset-md-4 col-md-8" *ngIf="!dateControl.valid && !focused">
    <hr />
    <small>{{errorMessage}}</small>
  </div>

</div>