li {
	cursor: pointer;
}
.signup-active a {
	cursor: pointer;
	text-decoration: none;
	border-bottom: solid 2px #eb425c;
	padding-bottom: 10px;
}
.signup-inactive a {
	text-decoration: none;
	border-bottom: none;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.frame {
	color: #3e3e3e;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 950px;
	height: 829px;
	box-shadow: 3px 4px 54px rgba(0, 0, 0, 0.09);
	background-color: #ffffff;
	opacity: 0.9;
  }